<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Home</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9">
    <meta charset="utf-8">
    <meta name="author" content="cnytbzyl">
    <meta name="robots" content="unfollow">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/go.main.built.css" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400" rel="stylesheet">
    <script src="~/Content/assets/js/jquery-1.12.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Content/assets/js/maps.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Content/assets/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Content/assets/js/bootstrap-datetimepicker.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Content/assets/js/jquery.mask.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Content/assets/js/jquery.priceformat.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Content/assets/js/go.main.built.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                 
                </ul>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-inverse navbar-fixed-top" style="border-radius:0;margin:0">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">service<strong>Point</strong></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Record", "Index", "Record")</li>
                    <li>@Html.ActionLink("Tracking", "Index", "Tracking")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="dropdown-toggle btn" href="@Url.Action("Login", "User")">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            login user
                        </a>
                    </li>
                    <li><a href="login.html" class="btn btn-logout">Logout<i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
